.user-details {
  margin: 20px;
}

.spinner{
  margin-top: 15%;
  margin-left: 40%;
  opacity: 0.9;
  z-index: 1000;
}
.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 85%;
  background-color: rgb(185, 185, 185);
  opacity: 0.9;
}
